body {
    font-family: 'grupo', Gruppo;
    background-color: lightgray;
}
h1 {
    margin-bottom: 2.5%;
}

a:hover, .word:hover {
    transition: 0.3s;
    color: black;
}

.container {
    margin: 2.5% 3%;
}

.nav-link {
    font-size: 20px;
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #ddd;
}

.nav-link.active {
    background-color: #ddd;
    color: #000;
}

.content {
    width: 50%;
    margin: 0 auto;
}

#name {
    font-weight: bolder;
    font-size: 60px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    line-height: 1;
}

#name:hover {
    color: inherit;
}

.card {
    min-height: 20rem;
}
.profile-about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-picture {
    margin-right: 20px;
    width: 275px;
    height: 350px;
    border-radius: 10px;
    float: right;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.about-me {
    margin-left: 20px;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    width: 50%;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
